numpy==1.18.1
Flask==1.1.1
tensorflow
gunicorn 
dnspython
flask_cors
flask_restful
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
dlib
imutils
xlrd
pandas
matplotlib
pillow
SQLAlchemy
pickle
PIL
os
boto3